.footer,
.footer * {
  font-family: "Inter", sans-serif !important;
}
.footer {
  width: 100%;
  padding: 20px 40px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 80px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  margin-bottom: 10px;
  
}
.footer-left a {
  color: #333;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
.footer-right {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.9rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-section a {
  color: #333;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.footer-section.socials {
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.footer-section svg {
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-section svg:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .footer-right{
    gap: 0px;
    flex-direction: row-reverse;
  }
}